body {
    font-family: 'Roboto', sans-serif;
}

.body {
    background-color: rgb(245, 245, 245);
    color: black;
}

.titles {
    text-align: center;
    padding: 6px;
}

.spacer {
    padding: 6px;
}
