body {
    font-family: 'Roboto', sans-serif;
}

.titles {
    text-align: center;
    padding: 6px;
    padding-top: 2rem;
    background-color: rgb(245, 245, 245);
    color: black;
}

.spacer {
    padding: 6px;
    background-color: rgb(245, 245, 245);
    color: black;
}

.bio, .services {
    align-items: center;
    padding: 3rem;
    padding-top: 1rem;
    background-color: rgb(245, 245, 245);
    color: black;
}
