body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
}

.Thankbody {
    text-align: center;
    padding-top: 10rem;
    background-color: rgb(245, 245, 245);
    color: black;
}

.titles {
    text-align: center;
    padding: 6px;
    padding-top: 2rem;
    background-color: rgb(245, 245, 245);
    color: black;
}

.spacer {
    padding: 6px;
}

.bio, .services, .form{
    align-items: center;
    padding: 3rem;
    padding-top: 1rem;
    background-color: rgb(245, 245, 245);
    color: black;
}
